 @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Rubik&display=swap');
 @import "./body.scss";
 @import "./variables.scss";


/* PART 1*/

 .container {
    @include flexboxcenter(); 
    @include containerradius();
    padding: 15px;

.whitebox{ 
    @include whiteradius ();
    padding: 15px;
    font-size: 28px;
    height: 35vh;
    text-align: center;
    position: relative;
    color: $fontcolorwhitebox;
    background-color: $whiteboxcolor;
}

 .avocado {
    @include avocadoradius();
    border-width: 5px;
    border-style: solid;
    border-image: none;
    border-color:$whiteboxcolor;
    margin: auto;
    position: absolute;
    overflow: hidden;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.footerpurplebox{
    @include purpleradius();
    padding: 5px;
    font-size: 20px;
    height: 30vh;
    text-align: center;
    position: relative;
    color: $fontcolorpurplebox;
    background-color: $purpleboxcolor ;

.nielsbom{
    padding-top: 25px;
    font-family: 'Rubik', sans-serif; 
    font-weight: bold;
}
.examplewebsite{
    font-family: 'Roboto Mono', monospace;
    color: $examplecolor;
    font-weight: bold;
}
}
}

/*PART 2*/ 

.gridcontainer {
    @include grindcontainer();

.avocado1, .avocado2, .avocado3, .avocado4, .avocado5, .avocado6, .avocado7 {
    position: relative;
    width: fit-content;

.avocadogridcontainer{
    width: 95%;
    height: auto;
    border-radius: 10px;
    color: $fadeout;
    opacity: 1;
    transition: opacity 1s ;
    &:hover{
        opacity: 0.0;
        background-color: $fadeout;
    }
}

button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: $whiteboxcolor;
    border:none;
    border-radius: 4px;
    font-size: 18px;
    padding: 15px 30px;
    text-align: center;
    cursor: pointer;
    &:hover{
        opacity: 0.5;
    }
}
}
}

/*Tablet & Desktop navigation*/

/*Tablets & iPads*/

 @media (min-width: 768px) {                                                          
    .gridcontainer {
        @include gridtablets ();
    }                                                                          
}    

/*Desktops + */

 @media screen and (min-width: 1280px) {  
    .gridcontainer {
        @include griddesktop();
    }
}   

