@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Rubik&display=swap");
body {
  background-color: #c3cfe2;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-align: center;
}

/*PART 1*/
/*PART 2*/
/* PART 1*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  border-radius: 50px;
  padding: 15px;
}
.container .whitebox {
  -webkit-border-top-left-radius: 50px;
  -webkit-border-top-right-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-topright: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 15px;
  font-size: 28px;
  height: 35vh;
  text-align: center;
  position: relative;
  color: rgb(50, 50, 52);
  background-color: #fff;
}
.container .avocado {
  border-radius: 360px;
  border-width: 5px;
  border-style: solid;
  -o-border-image: none;
     border-image: none;
  border-color: #fff;
  margin: auto;
  position: absolute;
  overflow: hidden;
  left: 0px;
  right: 0px;
  z-index: 1;
}
.container .footerpurplebox {
  -webkit-border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-bottomright: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 5px;
  font-size: 20px;
  height: 30vh;
  text-align: center;
  position: relative;
  color: white;
  background-color: #686de0;
}
.container .footerpurplebox .nielsbom {
  padding-top: 25px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}
.container .footerpurplebox .examplewebsite {
  font-family: "Roboto Mono", monospace;
  color: #afb1f3;
  font-weight: bold;
}

/*PART 2*/
.gridcontainer {
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: "avocado1" "avocado2" "avocado3" "avocado4" "avocado5" "avocado6" "avocado7";
}
.gridcontainer .avocado1, .gridcontainer .avocado2, .gridcontainer .avocado3, .gridcontainer .avocado4, .gridcontainer .avocado5, .gridcontainer .avocado6, .gridcontainer .avocado7 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.gridcontainer .avocado1 .avocadogridcontainer, .gridcontainer .avocado2 .avocadogridcontainer, .gridcontainer .avocado3 .avocadogridcontainer, .gridcontainer .avocado4 .avocadogridcontainer, .gridcontainer .avocado5 .avocadogridcontainer, .gridcontainer .avocado6 .avocadogridcontainer, .gridcontainer .avocado7 .avocadogridcontainer {
  width: 95%;
  height: auto;
  border-radius: 10px;
  background: rgb(192, 51, 51);
  opacity: 1;
  transition: opacity 1s;
}
.gridcontainer .avocado1 .avocadogridcontainer:hover, .gridcontainer .avocado2 .avocadogridcontainer:hover, .gridcontainer .avocado3 .avocadogridcontainer:hover, .gridcontainer .avocado4 .avocadogridcontainer:hover, .gridcontainer .avocado5 .avocadogridcontainer:hover, .gridcontainer .avocado6 .avocadogridcontainer:hover, .gridcontainer .avocado7 .avocadogridcontainer:hover {
  opacity: 0;
  background: rgba(51, 47, 47, 0.922);
}
.gridcontainer .avocado1 button, .gridcontainer .avocado2 button, .gridcontainer .avocado3 button, .gridcontainer .avocado4 button, .gridcontainer .avocado5 button, .gridcontainer .avocado6 button, .gridcontainer .avocado7 button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
}
.gridcontainer .avocado1 button:hover, .gridcontainer .avocado2 button:hover, .gridcontainer .avocado3 button:hover, .gridcontainer .avocado4 button:hover, .gridcontainer .avocado5 button:hover, .gridcontainer .avocado6 button:hover, .gridcontainer .avocado7 button:hover {
  opacity: 0.5;
}

/*Tablet & Desktop navigation*/
/*Tablets & iPads*/
@media (min-width: 768px) {
  .gridcontainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "avocado1 avocado2" "avocado3 avocado4" "avocado5 avocado6" "avocado7";
  }
}
/*Desktops + */
@media screen and (min-width: 1280px) {
  .gridcontainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "avocado1 avocado2 avocado3" "avocado4 avocado5 avocado6" "avocado7";
  }
}
/*PART 3*/
.containerimages {
  position: relative;
  width: 100px;
  display: block;
  float: right;
}
.containerimages .wrapper {
  padding: 5px;
  position: relative;
  width: 280px;
  left: -200px;
}
.containerimages .wrapper:hover {
  right: 0;
  width: 50px;
  transition: 2s ease-out;
}
.containerimages .wrapper:hover .fa fa-laptop .text {
  background-color: #e17b77;
  white-space: nowrap;
  color: black;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  right: 100px;
  transform: translate(50%);
}
.containerimages .wrapper:hover .fa fa-twitter .text {
  background-color: #3b5998;
  white-space: nowrap;
  color: black;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  right: 100px;
  transform: translate(50%);
}
.containerimages .wrapper:hover .fa fa-linkedin .text {
  background-color: #00aced;
  white-space: nowrap;
  color: black;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  right: 100px;
  transform: translate(50%);
}
.containerimages .wrapper:hover .fa fa-facebook .text {
  background-color: #007bb6;
  white-space: nowrap;
  color: black;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  right: 100px;
  transform: translate(50%);
}
.containerimages .wrapper:hover .fa fa-github .text {
  background-color: #333;
  white-space: nowrap;
  color: black;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  right: 100px;
  transform: translate(50%);
}/*# sourceMappingURL=stylesadvancedcss.css.map */