$whiteboxcolor: #fff;
$fontcolorwhitebox: rgb(50, 50, 52);
$purpleboxcolor: #686de0 ;
$fontcolorpurplebox: white;
$examplecolor: #afb1f3;
$fadeout: rgba(51, 47, 47, 0.922);
$fadein: rgb(192, 51, 51);
$blogcolor: #e17b77;
$linkedincolor: #00aced;
$twittercolor: #3b5998;
$facebookcolor: #007bb6;
$githubcolor: #333;






